
@{
    ViewBag.Title = "Completo";
}
@TempData["msg"]

<form method="post" action="~/Home/Completo">
    <div class="container">
        <h2>Completo</h2>
        <img src="~/imagens/acaic.jpeg" alt="acai Completo" />
        <br />
        <br />
        <div class="row">
            <div class="col-sm-3">
                <label>Preço: 6.00</label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <label>Quantidade: </label>
                <input type="text" name="quantidade" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-5">
                <input class="btn btn-primary" type="submit" value="COMPRAR" />
            </div>
        </div>
    </div>
</form>


