
@{
    ViewBag.Title = "Logar";
}


<div class="container">
    <form method="post" action="~/Home/Logar">
        <div class="container">
            <h2>Logar</h2>
            <div class="row">
                <div class="col-sm-3">
                    <label>Usuário: </label>
                    <input type="text" name="usuario" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <label>Senha: </label>
                    <input type="password" name="senha" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-5">
                    <input class="btn btn-primary" type="submit" />
                </div>
            </div>
        </div>
    </form>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-6">
            <button type="button" onclick="window.location.href='/Home/Index'" class="btn btn-primary">VOLTAR</button>
        </div>
        <div class="col-sm-6">
            <button type="button" onclick="window.location.href='/Home/Cadastrar'" class="btn btn-primary">CADASTRAR</button>
        </div>
    </div>
</div>